body{
  padding: 0;
  margin: 0;
  font-family: 'Lato-Light', sans-serif;
  font-size: 10px;
}

#container{
  width:100%;
  height:100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}